input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
input:focus{
    box-shadow:0 0 5px rgba(--bs-primary-rgb) !important;
    /* outline:none !important; */
}
html{
    scroll-behavior:smooth;
    font-size:1rem;
}
body{
    border:0px;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
@media only screen and (min-width:768px){
    form{
        width:100px;
    }
}
.carousel{
    width:100%
}
.nav-link{
    position:relative;
    overflow:hidden;
}
.nav-link::after{
    content:"";
    position:absolute;
    bottom:0px;
    height:2px;
    width:100%;
    left:0;
    background-color:var(--bs-warning);
    transition:0.3s;
    transition-timing-function:ease-in-out;
    transform:scaleX(0);
}
.active{
    transform:scaleX(1);
}
.nav-link:hover::after{
    transform:scaleX(1);
}


/*animation*/
.fade-in-animation{
    transform:translatey(50%);
    opacity:0;
    animation:fadeIn 1.4s ease-out forwards;
}
@keyframes fadeIn{
    to{
        transform:translatey(0);
        opacity:1;
    }
}

.fade-ani-side{
    transform:translatex(50%);
    opacity:0;
    animation:fadeSide 1.4s  forwards;
}
@keyframes fadeSide{
    to{
        transform:translatex(0);
        opacity:1;
    }
}

.fade-ani-side-reverce{
    transform:translatex(-50%);
    opacity:0;
    animation:fadeSide 1.4s forwards;
}
@keyframes fadeSide{
    to{
        transform:translatex(0);
        opacity:1;
    }
}
